<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>/WEB-INF/spring-appcontext.xml</param-value>
	</context-param>

	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
	 <listener-class>com.appspot.tradinghyp.InitServlet</listener-class>
	</listener>

	<servlet>
		<servlet-name>ConnectionInitializer</servlet-name>
		<servlet-class>com.appspot.tradinghyp.ConnectionInitializer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MarketDataTaskInvoker</servlet-name>
		<servlet-class>com.appspot.tradinghyp.MarketDataTaskInvoker</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MarketDataTaskProcessor</servlet-name>
		<servlet-class>com.appspot.tradinghyp.MarketDataTaskProcessor</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OrderTaskInvoker</servlet-name>
		<servlet-class>com.appspot.tradinghyp.OrderTaskInvoker</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NewOrderTaskProcessor</servlet-name>
		<servlet-class>com.appspot.tradinghyp.NewOrderTaskProcessor</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CancelOrderTaskProcessor</servlet-name>
		<servlet-class>com.appspot.tradinghyp.CancelOrderTaskProcessor</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MarketMakerBot</servlet-name>
		<servlet-class>com.appspot.tradinghyp.MarketMakerBot</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MarketTakerBot</servlet-name>
		<servlet-class>com.appspot.tradinghyp.MarketTakerBot</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DisconnectionDetector</servlet-name>
		<servlet-class>com.appspot.tradinghyp.DisconnectionDetector</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>india</servlet-name>
        <jsp-file>/india.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>global</servlet-name>
        <jsp-file>/global.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>multiplayer</servlet-name>
        <jsp-file>/multiplayer.jsp</jsp-file>
    </servlet>


	<servlet-mapping>
		<servlet-name>ConnectionInitializer</servlet-name>
		<url-pattern>/initConnection.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MarketDataTaskInvoker</servlet-name>
		<url-pattern>/refreshMarketData.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MarketDataTaskProcessor</servlet-name>
		<url-pattern>/tasks/processMarketData.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrderTaskInvoker</servlet-name>
		<url-pattern>/invokeOrder.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NewOrderTaskProcessor</servlet-name>
		<url-pattern>/tasks/processNewOrder.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CancelOrderTaskProcessor</servlet-name>
		<url-pattern>/tasks/processCancelOrder.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MarketMakerBot</servlet-name>
		<url-pattern>/cron/makeMarket.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MarketTakerBot</servlet-name>
		<url-pattern>/cron/takeMarket.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisconnectionDetector</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>india</servlet-name>
        <url-pattern>/india</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>global</servlet-name>
        <url-pattern>/global</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>multiplayer</servlet-name>
        <url-pattern>/multiplayer</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/tasks/*</url-pattern>
            <url-pattern>/cron/*</url-pattern>
            <url-pattern>/init/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>	
</web-app>
